body {
    background-color: lightgray;
}

h1 {
    color: green;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 54px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: fuchsia;
    font-size: 30px;
}

.desc {
    color: aqua;
    background-color:brown;
    font-weight: bold;
}

.list {
    color: green;
    font-style: italic;
    background-color: yellow;
}

.num {
    font-size: 24px;
    font-weight: bold;
}